<!-- var eventsArray = [
        {
            title: " John Jovence ",
            start: "2020-05-01",
            end: "2020-05-02",
            allDay:true
            // if allDay is active end is exclusive
        },
        {
            title: " Laspiñas ",
            start: "2020-05-02",
            // if the enddate will reach to 9 it will post to the schedule enddate
            end: "2020-05-03 09:00",
            allDay:false
        },
        {
            title: 'hehehe, venue: sss hall',
            // venue: 'sss hall',
            start: '2020-05-05',
            end: '2020-05-06 01:00',
            allDay:false
        }

        //loop the database here to send it to the calendar UI
        // if department.name == user.usertype.name:
        //                     <option selected="selected" value="{{department.id}}">{{department.name}}</option>
        //                 else:
        //                     <option value="{{department.id}}">{{department.name}}</option>
] -->