

<script type="text/javascript">

	function get_account_type_id(account_id) {
		var id = account_id
		console.log("update",account_id)
		$.ajax({
			url: '/admin/accounts/'+account_id,
			type: 'GET',
			success: function(result) {
				console.log(result)
				console.log($('#account_id'))
				$('#account_id').val(result.id)
				$('#account_Fname').val(result.Fname)
				$('#account_Mname').val(result.Mname)
				$('#account_Lname').val(result.Lname)
				$('#account_gender').val(result.gender)
				$('#account_year_level').val(result.year_level)
				$('#account_username').val(result.username)
				$('#account_status').val(result.status)
				$('#account_department_id').val(result.department_id)
				$('#account_account_type_id').val(result.account_type_id)
			}
		});
	}
</script>
<script type="text/javascript">

	function update_account() {
		var id = account_id
		var account_id = $('#account_id').val()
		var data = {Fname:  $('#account_Fname').val(), Mname: $('#account_Mname').val(), Lname: $('#account_Lname').val(), gender: $('#account_gender').val(), year_level: $('#account_year_level').val(), username: $('#account_username').val(), status: $('#account_status').val(), department_id: $('#account_department_id').val(), account_type_id: $('#account_account_type_id').val()}
		console.log("update",account_id)
		console.log("update",data)
		$.ajax({
			url: '/admin/accounts/'+account_id,
			type: 'UPDATE',
			data: data,
			success: function(account) {
				let table_row = "<tr id='account-tr-"+account.id+"'>"
                            // table_row += "<td><strong>"+account.id+"</strong></td>"
                            table_row += "<td><strong>"+account.Fname+"</strong></td>"
                            table_row += "<td>"+account.Mname+"</td>"
                            table_row += "<td>"+account.Lname+"</td>"
                            table_row += "<td>"+account.gender+"</td>"
                            table_row += "<td>"+account.year_level+"</td>"
                            table_row += "<td>"+account.username+"</td>"
                            table_row += "<td>"+account.status+"</td>"
                            table_row += "<td>"+account.department_id+"</td>"
                            table_row += "<td>"+account.account_type_id+"</td>"
                            table_row +="<td>"
                           	table_row += "<button class='btn btn-info' data-toggle='modal' data-target='#updateAccounttype' onclick='get_account_type_id("+account.id+")'>"
                                    table_row +="<i class='far fa-edit'></i>"
                                table_row += "</button>"
                            table_row += "</td>"
                        table_row += "</tr>"
				$('#account-tr-'+account_id).replaceWith(table_row)	
			}
			
		});
		// $('#'+department_id).fadeOut(1000).fadeIn(1000);
	}
</script>



<!-- // function update_department() {
// 	var department_id = $(this).attr('department_id');

// 	var departmentName = $('#department_name'+department_id).val();
// 	var departmentDescription = $('#department_description'+department_id).val();

// 	request = $.ajax()({
// 		url : '/department/'+department_id,
// 		type : 'UPDATE',
// 		data : { departmentName : departmentName, departmentDescription : departmentDescription, id : department_id}
// 	});
// }

 -->


 <!-- , Mname: $('#account_Mname').val(), Lname: $('#account_Lname').val(), gender: $('#account_gender').val(), year_level: $('#account_year_level').val(), username: $('#account_username').val(), status: $('#account_status').val(), department_id: $('#account_department_id').val() -->