    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 

<script> 

    document.querySelector('#button').onclick = function(){

        var password = document.querySelector('#password').value,
            confirmPassword = document.querySelector('#confirmPassword').value;

            if(password == ""){
                alert("Field cannot be empty");
            }
            else if(password != confirmPassword){
                alert("Password didn't match try again.");
                return false
            }
            return true
    }

</script> 