	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <title>Foundation University</title> -->
   <title>{% block title %}{% endblock %} FU Events Management </title>
   <link rel = "shortcut icon" href = "{{ url_for('static', filename='images/FUlogo.png') }}"> 
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}">
  	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/scroll.css') }}">


    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}">
